# Citi Bike Data

In [1]:
# importing libraries
import pandas as pd
from pathlib import Path
import datetime as dt

In [2]:
# creating an empty df for the Aug 2023 to Jul 2024 data
citibike_df = pd.DataFrame()

for i in range(1, 13):
    # the data for May 2024 is not available on the CitiBike website, so we'll skip this
    if i == 5:
        continue
    # the data is pulled from 2023 and 2024 so we'll need an if else statement
    if i < 8:
        # formatting the date so we can call it in the path
        date = f"2024{i:02}"
    else:
        date = f"2023{i:02}"
    # creating a df that we can concat to the citibike_df
    imported_df = pd.read_csv(Path(f"data_last_year/JC-{date}-citibike-tripdata.csv"))    
    print(f"{date} imported") # making sure it got read properly
    
    imported_df = imported_df.dropna() # no na values for simplicity 
    
    citibike_df = pd.concat([citibike_df, imported_df])
    print(f"df length: {len(citibike_df)}") # checking if it got concatinated properly
del(imported_df)

202401 imported
df length: 50493
202402 imported
df length: 105971
202403 imported
df length: 171276
202404 imported
df length: 250167
202406 imported
df length: 360840
202407 imported
df length: 472806
202308 imported
df length: 584507
202309 imported
df length: 678386
202310 imported
df length: 775590
202311 imported
df length: 850990
202312 imported
df length: 909428

In [3]:
# this whole thing is 909428 x 13, about 97.1MB which is a lot
print(citibike_df.info())
citibike_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 909428 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             909428 non-null  object
 1   rideable_type       909428 non-null  object
 2   started_at          909428 non-null  object
 3   ended_at            909428 non-null  object
 4   start_station_name  909428 non-null  object
 5   start_station_id    909428 non-null  object
 6   end_station_name    909428 non-null  object
 7   end_station_id      909428 non-null  object
 8   start_lat           909428 non-null  float64
 9   start_lng           909428 non-null  float64
 10  end_lat             909428 non-null  float64
 11  end_lng             909428 non-null  float64
 12  member_casual       909428 non-null  object
dtypes: float64(4), object(9)
memory usage: 97.1+ MB
None

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.719410,-74.043090,member
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member

In [4]:
# Converting started and ended at cols to dt so that we can get the ride duration
citibike_df["started_at"] = pd.to_datetime(citibike_df["started_at"], format = "mixed")
citibike_df["ended_at"] = pd.to_datetime(citibike_df["ended_at"], format = "mixed")
# checking to see if it worked right
citibike_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [8]:
# calculating the ride duration and logging it by seconds
citibike_df["ride_duration(secs)"] = ((citibike_df["ended_at"] - citibike_df["started_at"]) / pd.Timedelta(seconds=1))
citibike_df["ride_duration(secs)"]

0        877.0
1        208.0
2        224.0
3        202.0
4        261.0
         ...
58675    269.0
58676    348.0
58677    345.0
58678    471.0
58679    401.0
Name: ride_duration(secs), Length: 909428, dtype: float64

In [7]:
# reducing the no of columns
# citibike_df = citibike_df.drop(columns = ["start_station_id", "end_station_id"])
print(citibike_df.info())
citibike_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 909428 entries, 0 to 58679
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ride_id              909428 non-null  object
 1   rideable_type        909428 non-null  object
 2   started_at           909428 non-null  datetime64[ns]
 3   ended_at             909428 non-null  datetime64[ns]
 4   start_station_name   909428 non-null  object
 5   start_station_id     909428 non-null  object
 6   end_station_name     909428 non-null  object
 7   end_station_id       909428 non-null  object
 8   start_lat            909428 non-null  float64
 9   start_lng            909428 non-null  float64
 10  end_lat              909428 non-null  float64
 11  end_lng              909428 non-null  float64
 12  member_casual        909428 non-null  object
 13  ride_duration(secs)  909428 non-null  float64
dtypes: datetime64[ns](2), float64(5), object(7)
memory usage: 104.1+ MB
None

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration(secs)
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member,877.0
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.719410,-74.043090,member,208.0
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member,224.0
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member,202.0
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member,261.0

In [10]:
# does dividing the df help reduce the size?
time_citibike_df = citibike_df[["ride_id", "started_at", "ended_at", "ride_duration(secs)"]]
print(time_citibike_df.info())
station_citibike_df = citibike_df.drop(columns = ["started_at", "ended_at", "ride_duration(secs)", "start_station_id", "end_station_id"])
print(station_citibike_df.info())



# it doesn't

<class 'pandas.core.frame.DataFrame'>
Index: 909428 entries, 0 to 58679
Data columns (total 4 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ride_id              909428 non-null  object
 1   started_at           909428 non-null  datetime64[ns]
 2   ended_at             909428 non-null  datetime64[ns]
 3   ride_duration(secs)  909428 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 34.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 909428 entries, 0 to 58679
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             909428 non-null  object
 1   rideable_type       909428 non-null  object
 2   start_station_name  909428 non-null  object
 3   end_station_name    909428 non-null  object
 4   start_lat           909428 non-null  float64
 5   start_lng           909428 non-null  float64
 6   end_lat             909428 non-null  float64
 7   end_lng             909428 non-null  float64
 8   member_casual       909428 non-null  object
dtypes: float64(4), object(5)
memory usage: 69.4+ MB
None

In [ ]:
# exporting just the time data
time_citibike_df.to_excel('time_citibike_data.xlsx', sheet_name='sheet1', index=False)

In [ ]:
# exporting just the station data
station_citibike_df.to_excel('station_citibike_data.xlsx', sheet_name='sheet1', index=False)